<header>
	<nav><a href="/">Forecast it</a></nav>
</header>

<main class="layout-forecast serif">

<article class="card variant-green weather-current">
	<h1>
		Today's <br /> Weather
	</h1>
	<section class="temperatures">
		<div class="temperature-current">
			<span>Temp (°F)</span>
			<%= current_temp %>°
		</div>
		<div class="temperature-max">
			<span>High</span>
			<%= current_temp_max %>°
		</div>
		<div class="temperature-min">
			<span>Low</span>
			<%= current_temp_min %>°
		</div>
	</section>
</article>

<article class="card variant-green weather-metadata">
	<div class="metadata-item item-zip">
		<span>Zip Code</span>
		<%= zip_code %>
	</div>
	<div class="metadata-item item-tz">
		<span>Timezone</span>
		<%= current_timezone %>
	</div>
	<div class="metadata-item item-time">
		<span>Updated at</span>
		<%= current_time %>
	</div>
	<div class="metadata-item item-cache">
		<span>Cache Status</span>
		<%= cache_status %>
	</div>
</article>

<article class="card variant-green weather-extended">
	<h2>Extended Forecast</h2>

	<% Time.use_zone(current_timezone) do %>

	<% (0...7).each do |day_offset| %>
		<table class="forecast-day" data-day="<%= day_offset %>">
			<caption>Day <%= day_offset + 1 %></caption>
			<thead>
				<tr>
					<th scope="col">
					</th>
					<% (0...6).each do |hour_offset| %>
						<th scope="col">
							+<%= hour_offset %>
						</th>
					<% end %>
				</tr>
			</thead>
			<tbody>
				<% [
						["Night", "00:00"],
						["Morning", "06:00"],
						["Afternoon", "12:00"],
						["Evening", "18:00"],
					].each_with_index do |day_period, period_index| %>
					<tr>
						<th scope="row">
							<span class="period-label">
							<%= day_period[0] %>
							</span>
							<span class="period-offset">
							+<%= day_period[1] %>
							</span>
						</th>
						<% (0...6).each do |hour_offset| %>
							<% hourly_cursor = day_offset * 24 + period_index * 6 + hour_offset %>
							<td
								data-moment="<%=
									moment = ActiveSupport::TimeZone.new(current_timezone).parse(hourly_time[hourly_cursor], Time.current)
									now = Time.current
									if moment < now
										"past"
									elsif moment < (now + 1.hour)
										"present"
									else
										"future"
									end
								%>"
							>
								<%= hourly_temperature[hourly_cursor] %>°
							</td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
	<% end %>
</article>

</main>
